In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('investments_VC.csv', encoding= 'unicode_escape')

In [5]:
df.head()

,permalink,name,homepage_url,category_list,market,funding_total_usd,status,country_code,state_code,region,...,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H
0,/organization/waywire,#waywire,http://www.waywire.com,|Entertainment|Politics|Social Media|News|,News,"17,50,000",acquired,USA,NY,New York City,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,/organization/tv-communications,&TV Communications,http://enjoyandtv.com,|Games|,Games,"40,00,000",operating,USA,CA,Los Angeles,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,/organization/rock-your-paper,'Rock' Your Paper,http://www.rockyourpaper.org,|Publishing|Education|,Publishing,"40,000",operating,EST,NaN,Tallinn,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,/organization/in-touch-network,(In)Touch Network,http://www.InTouchNetwork.com,|Electronics|Guides|Coffee|Restaurants|Music|i...,Electronics,"15,00,000",operating,GBR,NaN,London,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,/organization/r-ranch-and-mine,-R- Ranch and Mine,NaN,|Tourism|Entertainment|Games|,Tourism,"60,000",operating,USA,TX,Dallas,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
print(f"Columns: {', '.join(df.columns)}")

Columns: permalink, name, homepage_url, category_list, market, funding_total_usd, status, country_code, state_code, region, city, funding_rounds, founded_at, founded_month, founded_quarter, founded_year, first_funding_at, last_funding_at, seed, venture, equity_crowdfunding, undisclosed, convertible_note, debt_financing, angel, grant, private_equity, post_ipo_equity, post_ipo_debt, secondary_market, product_crowdfunding, round_A, round_B, round_C, round_D, round_E, round_F, round_G, round_H

In [7]:
df = df.dropna(axis=0, how='all')
df['funding_total_usd'] = df['funding_total_usd'].apply(lambda x: x.replace(',',''))
df['market'] = df['market'].dropna().apply(lambda x: x.replace(' ', ''))
df['funding_total_usd'] = df['funding_total_usd'].apply(lambda x: np.nan if '-' in x else x)
df['funding_total_usd'] = pd.to_numeric(df['funding_total_usd'])

In [10]:
df.columns

Index(['permalink', 'name', 'homepage_url', 'category_list', 'market',
       'funding_total_usd', 'status', 'country_code', 'state_code', 'region',
       'city', 'funding_rounds', 'founded_at', 'founded_month',
       'founded_quarter', 'founded_year', 'first_funding_at',
       'last_funding_at', 'seed', 'venture', 'equity_crowdfunding',
       'undisclosed', 'convertible_note', 'debt_financing', 'angel', 'grant',
       'private_equity', 'post_ipo_equity', 'post_ipo_debt',
       'secondary_market', 'product_crowdfunding', 'round_A', 'round_B',
       'round_C', 'round_D', 'round_E', 'round_F', 'round_G', 'round_H'],
      dtype='object')

In [11]:
df.head()

,permalink,name,homepage_url,category_list,market,funding_total_usd,status,country_code,state_code,region,...,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H
0,/organization/waywire,#waywire,http://www.waywire.com,|Entertainment|Politics|Social Media|News|,News,1750000.0,acquired,USA,NY,New York City,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,/organization/tv-communications,&TV Communications,http://enjoyandtv.com,|Games|,Games,4000000.0,operating,USA,CA,Los Angeles,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,/organization/rock-your-paper,'Rock' Your Paper,http://www.rockyourpaper.org,|Publishing|Education|,Publishing,40000.0,operating,EST,NaN,Tallinn,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,/organization/in-touch-network,(In)Touch Network,http://www.InTouchNetwork.com,|Electronics|Guides|Coffee|Restaurants|Music|i...,Electronics,1500000.0,operating,GBR,NaN,London,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,/organization/r-ranch-and-mine,-R- Ranch and Mine,NaN,|Tourism|Entertainment|Games|,Tourism,60000.0,operating,USA,TX,Dallas,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
df.dtypes

permalink                object
name                     object
homepage_url             object
category_list            object
market                   object
funding_total_usd       float64
status                   object
country_code             object
state_code               object
region                   object
city                     object
funding_rounds          float64
founded_at               object
founded_month            object
founded_quarter          object
founded_year            float64
first_funding_at         object
last_funding_at          object
seed                    float64
venture                 float64
equity_crowdfunding     float64
undisclosed             float64
convertible_note        float64
debt_financing          float64
angel                   float64
grant                   float64
private_equity          float64
post_ipo_equity         float64
post_ipo_debt           float64
secondary_market        float64
product_crowdfunding    float64
round_A                 float64
round_B                 float64
round_C                 float64
round_D                 float64
round_E                 float64
round_F                 float64
round_G                 float64
round_H                 float64
dtype: object

In [13]:
df.status

0         acquired
1        operating
2        operating
3        operating
4        operating
           ...
49433    operating
49434    operating
49435    operating
49436    operating
49437    operating
Name: status, Length: 49438, dtype: object

In [17]:
df.status.astype(str)

0         acquired
1        operating
2        operating
3        operating
4        operating
           ...
49433    operating
49434    operating
49435    operating
49436    operating
49437    operating
Name: status, Length: 49438, dtype: object

In [18]:
df.status.value_counts()

operating    41829
acquired      3692
closed        2603
Name: status, dtype: int64

In [26]:
ds = df['status'].isna()
idx = ds[ds == True].index.values
idx.shape

(1314,)

In [28]:
df.drop(idx, inplace=True)
df.shape

(48124, 39)

In [29]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['status_num'] = le.fit_transform(df['status'])

In [31]:
df.status_num.value_counts()

2    41829
0     3692
1     2603
Name: status_num, dtype: int64

In [70]:
from sklearn import preprocessing

In [74]:
ds = df.dtypes
feature_names = ds[ds=='float64'].index.values
X = df[feature_names].copy()
X.fillna(0, inplace = True)

# X = preprocessing.normalize(X, axis=0)

y = df.status_num

In [75]:
from sklearn.decomposition import PCA
pca = PCA()
X_pca = pca.fit_transform(X,y)

In [76]:
X_pca[:,1]

array([-7451154.61689643, -5413979.60236194, -8339593.38134667, ...,
       -8309760.38108721, -3528515.62822871, 10994499.8517411 ])

In [61]:
import seaborn as sns
sns.barplot(x=np.arr)

In [20]:
le = LabelEncoder()
le.fit_transform(df['status'].dropna())

array([0, 2, 2, ..., 2, 2, 2])

ValueError: Length of values does not match length of index

In [ ]:
df[]