In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Homework 3 - PCA and Kmeans Clustering
Andrey Novichkov

In [4]:
df = pd.read_csv('wholesale_customers_data.csv')
print(df.shape)
df.head()

(440, 8)

   Channel  Region  Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen
0        2       3  12669  9656     7561     214              2674        1338
1        2       3   7057  9810     9568    1762              3293        1776
2        2       3   6353  8808     7684    2405              3516        7844
3        1       3  13265  1196     4221    6404               507        1788
4        2       3  22615  5410     7198    3915              1777        5185

**Do some data cleaning**

In [5]:
channel = df['Channel']
df = df.drop(['Channel', 'Region'], axis=1)
df.head()

   Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen
0  12669  9656     7561     214              2674        1338
1   7057  9810     9568    1762              3293        1776
2   6353  8808     7684    2405              3516        7844
3  13265  1196     4221    6404               507        1788
4  22615  5410     7198    3915              1777        5185

# Principal Component Analysis

## 1. Scale the data
We are going to normalize the data using sklearn

In [8]:
from sklearn import preprocessing

scaled_df = preprocessing.normalize(df, axis=0)
scaled_df[:1]

array([[0.034663  , 0.04908746, 0.02911003, 0.00177727, 0.02290171,
        0.01991374]])

## 2. Apply PCA

In [12]:
from sklearn.decomposition import PCA

X = scaled_df
X = np.array(X.T)

array([[0.034663  , 0.0193083 , 0.01738212, ..., 0.03975752, 0.02815394,
        0.00762537],
       [0.04908746, 0.04987034, 0.04477655, ..., 0.07873515, 0.01007066,
        0.00863199],
       [0.02911003, 0.03683703, 0.02958358, ..., 0.11643627, 0.00859325,
        0.00966356],
       [0.00177727, 0.01463339, 0.0199735 , ..., 0.00362928, 0.00862058,
        0.00053982],
       [0.02290171, 0.02820319, 0.03011309, ..., 0.12710706, 0.00143885,
        0.00408531],
       [0.01991374, 0.02643259, 0.11674394, ..., 0.02778696, 0.03162683,
        0.00077393]])